
*.vsidx
.vs/Rational/v17/.suo
.vs/Rational/v17/Browse.VC.db-shm
.vs/Rational/v17/Browse.VC.db
*.opendb
*.ipch
*.log
*.obj
*.tlog
*.idb
*.pdb
*.recipe
*.user
*.vcxproj
*.filters
*.ilk
*.exe
*.db-wal
*.sln
